.notification
{
    font-family: Arial, sans-serif;

    position: fixed;
    top: -1000px;
    right: 0;

    min-width: 300px;
    padding: 30px;

    -webkit-transition: top 1s linear;
         -o-transition: top 1s linear;
            transition: top 1s linear; 

    -webkit-border-radius: 3px;
            border-radius: 3px;
    background: #fff;
    -webkit-box-shadow: 0 0 25px 4px rgba(239, 234, 234, .42);
            box-shadow: 0 0 25px 4px rgba(239, 234, 234, .42);
}
.notification__body
{
    position: relative;

    overflow: hidden; 

    width: 80%;
    min-height: 150px;
    margin-bottom: 30px;
}
.notification__close
{
    position: absolute;
    top: 20px;
    right: 30px;

    cursor: pointer;
}
.notification__close:hover
{
    color: grey;
}
.notification__item
{
    position: absolute;

    width: 100%;

    -webkit-transition: -webkit-transform 1s;
         -o-transition:         transform 1s;
            transition: -webkit-transform 1s;
            transition:         transform 1s;
            transition:         transform 1s, -webkit-transform 1s;
}
.notification__caption
{
    font-weight: 600;

    margin-bottom: 10px;
}
.notification__controls
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
}
.notification__dots
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    margin: 0 20px;
}
.notification__nav
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    margin-left: 20px;

    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
            justify-content: flex-end;
}
.notification_show
{
    top: 0;
}

.control
{
    width: 24px;
    height: 24px;

    cursor: pointer;
    -webkit-transition: background .3s linear, color .3s linear;
         -o-transition: background .3s linear, color .3s linear;
            transition: background .3s linear, color .3s linear; 

    color: grey;
    border: 1px solid grey;
    -webkit-border-radius: 50%;
            border-radius: 50%;
}
.control:hover
{
    color: #fff; 
    background: grey;
}

.dot
{
    width: 8px;
    height: 8px;
    padding: 0;

    cursor: pointer;

    border: none;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    outline: none;
    background: grey; 

            appearance: none;
    -webkit-appearance: none;
       -moz-appearance: none;
}
.dot:focus
{
    outline: none;
}
.dot:not(:last-child)
{
    margin-right: 10px;
}
.dot_active
{
    background: deepskyblue;
}

.custom-checkbox__label
{
    margin: auto;

    cursor: pointer; 
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
.custom-checkbox__label:hover span:first-child
{
    border-color: #237fc0;
}
.custom-checkbox__label span
{
    display: inline-block;

    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); 
    vertical-align: middle;
}
.custom-checkbox__label span:first-child
{
    position: relative;

    width: 18px;
    height: 18px;

    -webkit-transition: all .2s ease;
         -o-transition: all .2s ease;
            transition: all .2s ease; 
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    vertical-align: middle;

    border: 1px solid #e8ecef;
    -webkit-border-radius: 3px;
            border-radius: 3px;
}
.custom-checkbox__label span:first-child:before
{
    display: block;

    width: 100%;
    height: 100%;

    content: '';
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);

    opacity: 1;
    -webkit-border-radius: 50%;
            border-radius: 50%; 
    background: #506eec;
}
.custom-checkbox__label span:first-child svg
{
    position: absolute;
    top: 3px;
    left: 2px;

    -webkit-transition: all .3s ease;
         -o-transition: all .3s ease;
            transition: all .3s ease;
    -webkit-transition-delay: .1s;
         -o-transition-delay: .1s;
            transition-delay: .1s;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); 

    fill: none;
    stroke: #fff;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 16px;
    stroke-dashoffset: 16px;
}

.custom-checkbox__text
{
    padding-left: 8px;
}

.custom-checkbox__input:checked + .custom-checkbox__label span:first-child
{
    -webkit-animation: wave .4s ease;
            animation: wave .4s ease; 

    border-color: #237fc0;
    background: #237fc0;
}

.custom-checkbox__input:checked + .custom-checkbox__label span:first-child svg
{
    stroke-dashoffset: 0;
}

.custom-checkbox__input:checked + .custom-checkbox__label span:first-child:before
{
    -webkit-transition: all .6s ease;
         -o-transition: all .6s ease;
            transition: all .6s ease; 
    -webkit-transform: scale(3.5);
        -ms-transform: scale(3.5);
            transform: scale(3.5);

    opacity: 0;
}

@-webkit-keyframes wave
{
    50%
    {
        -webkit-transform: scale(.9);
                transform: scale(.9);
    }
}

@keyframes wave
{
    50%
    {
        -webkit-transform: scale(.9);
                transform: scale(.9);
    }
}

p
{
    margin: 0;
}

.big-text
{
    font-size: 24px;

    margin-bottom: 50px;
    padding: 30px;
}
